certifi==2023.7.22
chardet==5.2.0
ECPy==1.2.5
future==0.18.3
hidapi==0.14.0
idna==3.4
ledgerblue==0.1.48
Pillow==9.5.0
protobuf==4.24.3
pycryptodomex==3.19.0
python-u2flib-host==3.0.3
requests==2.31.0
six==1.16.0
urllib3==2.0.5
websocket_client==1.6.3
ruff==0.0.291
